:root {
  --negro: rgb(34, 40, 49);
  --gris: rgb(57, 62, 70);
  --amarillo: rgb(255, 165, 0);
  --light-gris: rgb(238, 238, 238);
  --intense-blue: rgb(49, 225, 247);
  --dark-morado: rgb(64, 13, 81);
  --fucsia: rgb(216, 0, 166);
  --peach: rgb(255, 119, 119);
  --navy: rgb(42, 37, 80);
  --naranja: rgb(224, 77, 1);
  --smooth-naranja: rgb(255, 119, 0);
  --morado: rgb(169, 4, 191);
  --morado-purple: rgb(62, 66, 140);
  --dorado: rgb(242, 183, 5);
  --dark-dorado: rgb(140, 92, 3);
  --dark-rojo: rgb(140, 46, 54);
  --rosado: rgb(242, 174, 238);
}

.nosotros {
  text-align: center;
}
header nav ul li {
  display: flex;
  justify-content: space-around;
  display: inline-block;
  text-align: justify;
}

@font-face {
  font-family: Montserrat;
  src: url(Fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: titulos;
  src: url(Fonts/valorant/Valorant\ Font.ttf);
}

h2 {
  font-family: titulos;
}

p {
  font-family: Montserrat;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--gris);
  margin: 0px;
}

header {
  background-color: var(--negro);
  color: var(--light-gris);
  position: relative;
  margin: 0px;
  width: 100%;
}

/******* BANNER ****/

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/******* FIN BANNERR***/

/******** clases *****/
.foro-muff {
  display: flex;
  justify-content: space-evenly;
}
.jugar {
  width: 75px;
  text-align: center;
  background-color: aqua;
}
.container {
  background-color: var(--negro);
  width: 100%;
}

ul.banner {
  margin: auto;
  text-align: center;
  position: relative;
  width: 533px;
  height: 300px;
}

ul.banner li {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: inherit;
  height: inherit;
  background-color: aliceblue;
  transition: opacity 0.5s;
}

ul.banner li img {
  width: 100;
  height: 100%;
  object-fit: cover;
  position: relative;
}

ul.banner li:first-child {
  opacity: 1;
}

ul.banner li:target {
  opacity: 1;
}

.menu {
  text-align: center;
  margin: 20px;
}

.menu li {
  display: inline-block;
  text-align: center;
}

.menu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: var(--negro);
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}

.logos {
  width: 100px;
}

.boton-jugar {
  position: absolute;
  right: 0px;
}

.glosario {
  text-align: center;
}

.patrocinadores {
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 50px;
  gap: 2rem;
}
/****
.foro {
  display: inline-block;
}

.Muffious {
  display: inline-block;
}
****/
/****** id ****/
#asset {
  position: relative;
  width: 50px;
}

#lista {
  width: 50px;
}
#foro {
  width: 150px;
  height: 300px;
}

#Muffious {
  width: 500px;
}

#subtitulo-patrocinadores {
  text-align: center;
}
