<section class="head">
  <nav>
    <input type="checkbox" id="menu">
    <label class="menu" for="menu"> ☰ </label>
    <ul class="listado">
      <li class="item">Quienes somos</li>
      <li class="item">Patrocinadores</li>
      <li class="item">Glosario</li>
      <li class="item">Testimonios</li>
    </ul>
  </nav>
    <img class="logo" src="../../../assets/imagenes/asset.png" alt="logo" />
  <div class="botones">
    <button> <a routerLink="register">Log in/sign in</a></button>
    <button>Jugar</button>
  </div>
</section>
