<section class="head">
  <nav>
    <input type="checkbox" id="menu">
    <label class="menu" for="menu"> ☰ </label>
    <ul class="listado">
      <li class="item">Quienes somos</li>
      <li class="item">Patrocinadores</li>
      <li class="item">Glosario</li>
      <li class="item">Testimonios</li>
    </ul>
  </nav>
    <a routerLink="/home"><img class="logo" src="../../../assets/imagenes/asset.png" alt="logo" /></a>
  <div class="botones">
    <a routerLink="/register"><button type="button"> Log in/sign in</button></a>
    <a routerLink="/game"><button type="button">Jugar</button></a>
  </div>
</section>
