/*Espacio para el header*/
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0rem;
  height: 6.5rem;
  border-style: inset;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom-color: var(--negro);
  border-bottom-width: 0.1rem;
  background-color: var(--gris);
  width: 100%;
}
button {
  background-color: var(--amarillo);
  font-family: BigSpace;
  border-radius: 1rem;
  cursor: pointer;
  width: 100%;
  font-size: 2rem;
}
/*Estilo de Lista desplegable*/
input:checked ~ ul {
  display: block;
}
.menu {
  background-color: var(--amarillo);
  margin-left: 1.5rem;
}
input {
  display: none;
}
label {
  box-sizing: border-box;
  display: inline-block;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  width: 6rem;
  height: 6rem;
  line-height: 5.5rem;
  font-weight: bold;
  font-size: 3.5rem;
  text-align: center;
  user-select: none;
}
label:hover {
  background: grey;
  cursor: pointer;
}
input:checked ~ label {
  background: lightgrey;
}
.listado {
  margin-top: 0;
  padding: 0;
  width: 14rem;
  display: none;
}
.listado .item {
  display: block;
  background: lightgrey;
  margin: 0;
  padding: 0.5rem;
  list-style: none;
  border-bottom: 0.1rem solid grey;
  font-size: 1.5rem;
  font-family: BigSpace;
}
.item:hover {
  filter: brightness(110%);
  border-bottom: none;
  cursor: pointer;
}
.logo {
  width: 8rem;
  margin-left: rem;
}
.botones {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30rem;
  height: 4.5rem;
  font-weight: bold;
  font-size: 3rem;
}

