<section class="head">
  <nav>
    <input type="checkbox" id="menu">
    <label class="icono-menu" for="menu"> ☰ </label>
    <ul class="listado">
      <a href="/home#quienes_somos"><li class="item">Quienes somos</li></a>
      <a href="/home#patrocinadores"><li class="item">Patrocinadores</li></a>
      <a href="/home"><li class="item">Glosario</li></a>
      <a href="/home#testimonios"><li class="item">Testimonios</li></a>
    </ul>
  </nav>
    <a routerLink="/home"><img class="logo" src="../../../assets/imagenes/asset.png" alt="logo" /></a>
  <div class="botones">
    <a routerLink="/register"><button type="button">Ingresar</button></a>
    <a routerLink="/game"><button type="button">Jugar</button></a>
  </div>
</section>
