<main>
    <header class="main-title">
      <h1>CoinO'Bille</h1>
      <h4>¡Una aventura para aprender a invertir!</h4>
    </header>
      <section class="slider">
        <div class="contenedor-banner">
        <ul class="banner">
            <li id="slide1">
              <img src="/assets/imagenes/banner.png" alt="Banner-img1">
            </li>
            <li id="slide2">
              <img src="/assets/imagenes/juego.jpg" alt="Banner-img2">
            </li>
            <li id="slide3">
              <img src="/assets/imagenes/MicrosoftTeams-image6.png" alt="Banner-img3">
            </li>
        </ul>
        <ul class="opcion">
          <li>
            <a href="#slide1"></a>
          </li>
          <li>
            <a href="#slide2"></a>
          </li>
          <li>
            <a href="#slide3"></a>
          </li>
        </ul>
        </div>
      </section>
  <section class="conoce_a">
    <img class="fotos-banner" src="/assets/imagenes/banner.png" alt="banner" />
    <h2>Conoce a Muffious</h2>
    <p>
    Muffious es un explorador novato proveniente del planeta “Risma”
    muy curioso, amigable, pacifista e inocente que, en su paso por el
    sistema solar, sufrió un accidente al recibir una fuerte descarga de
    rayos cósmicos que lo hizo chocar en la tierra destruyendo así su nave.
    </p>
    <div class="botones_conoce_a">
      <a routerLink="/game"><button>Jugar</button></a>
      <a routerLink="/register"><button>Ingresar</button></a>
    </div>
  </section>
  <section class="juego_vs_demo">
    <article class="demo">
      <img class="imagen_demo" src="/assets/imagenes/demo.jpg" alt="demo" />
      <p class="texto_demo">DEMO</p>
      <p class="hover_demo">Entra y da un vistazo al nuevo mundo que conocerá Muffious</p>
    </article>
    <article class="juego">
      <img class="imagen_juego" src="/assets/imagenes/juego.jpg" alt="juego" />
      <p class="texto_juego">INICIAR AVENTURA</p>
      <p class="hover_juego">Aquí arranca esta aventura, tu futuro lo agradecerá</p>
    </article>
  </section>
  <section id="quienes_somos">
    <div class="contenido">
      <div class="columna_izquierda">
        <h2>Quienes somos y cual es nuestra mision</h2>
        <p>
          CoinO'Bille llega por parte del equipo de Nodo para facilitar el aprendizaje
          de un sector tan importante como es el financiero a partir de un juego dinámico,
          con estilo vintage y obstáculos que asemejan la realidad financiera de muchos.
        </p>
        <!--<button>Descarga</button>-->
      </div>
      <div class="columna_derecha">
        <img class="imagen_bufurius" src="/assets/imagenes/bufurius.png" alt="bufurius"/>
      </div>
    </div>
  </section>
  <section id="testimonios">
    <h2>Testimonios</h2>
    <h4>Estos son algunos mensajes de nuestros usuarios</h4>
    <div class="flex_testimonios">
      <div class="Testimonio_1">
        <p class="Texto_testimonio_1">"Me ha gustado la interacción del juego con la teoría de las finanzas"</p>
        <div class="Imagen_testimonio_1">
          <img class="persona_testimonio" src="/assets/imagenes/contacto.png" alt="persona_testimonio"/>
          <h5>Andrea Serrano</h5>
          <h4>Profesora</h4>
        </div>
      </div>
      <div class="Testimonio_2">
        <p class="Texto_testimonio_2">"Es como desbloquear mis finanzas mientras le indico a un muñeco"</p>
        <div class="Imagen_testimonio_2">
          <img class="persona_testimonio" src="/assets/imagenes/contacto.png" alt="persona_testimonio"/>
          <h5>Camilo Ferreira</h5>
          <h4>Arquitecto</h4>
        </div>
      </div>
      <div class="Testimonio_3">
        <p class="Texto_testimonio_3">"Tan entretenido como cualquier videojuego pero tan instructivo como una clase"</p>
        <div class="Imagen_testimonio_3">
          <img class="persona_testimonio" src="/assets/imagenes/contacto.png" alt="persona_testimonio"/>
          <h5>Ana Bastidas</h5>
          <h4>Estudiante</h4>
        </div>
      </div>
    </div>
  </section>
  <section id="patrocinadores">
    <h2>Nuestros patrocinadores</h2>
    <div class="contenedor_imagenes">
      <div class="patrocinador_1">
        <img class="img_patrocinador" src="/assets/imagenes/Eafit.png" alt="logo-eafit"/>
      </div>
      <div class="patrocinador_2">
        <img class="img_patrocinador" src="/assets/imagenes/Globant.png" alt="logo-globant"/>
      </div>
      <div class="patrocinador_3">
        <img class="img_patrocinador" src="/assets/imagenes/Proteccion (2).png" alt="logo-proteccion"/>
      </div>
    </div>
  </section>
  <section class="equipo">
    <div class="Integrantes">
      <div class="Integrante_1">
        <div class="contenedor_persona">
          <img class="Foto_persona" src="/assets/imagenes/alien.png" alt="Luis"/>
          <div class="Persona">
            <h2 class="Persona_txt">Luis Miguel Sierra</h2>
            <h4 class="cargo">Cargo</h4>
            <p>Estudiante Nodo</p>
          </div>
        </div>
      </div>
      <div class="Integrante_2">
        <div class="contenedor_persona">
          <img class="Foto_persona" src="/assets/imagenes/alien.png" alt="Miguel"/>
          <div class="Persona">
            <h2 class="Persona_txt">Luis Miguel Martínez</h2>
            <h4 class="cargo">Cargo</h4>
            <p>Estudiante Nodo</p>
          </div>
        </div>
      </div>
      <div class="Integrante_3">
        <div class="contenedor_persona">
          <img class="Foto_persona" src="/assets/imagenes/alien.png" alt="Juan"/>
          <div class="Persona">
            <h2 class="Persona_txt">Juan Pablo Grisales</h2>
            <h4 class="cargo">Cargo</h4>
            <p>Estudiante Nodo</p>
          </div>
        </div>
      </div>
      <div class="Integrante_4">
        <div class="contenedor_persona">
          <img class="Foto_persona" src="/assets/imagenes/alien.png" alt="Andrés"/>
          <div class="Persona">
            <h2 class="Persona_txt">Andrés Hernández</h2>
            <h4 class="cargo">Cargo</h4>
            <p>Estudiante Nodo</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="feedback">
    <div class="container">
      <div class="datos_feedback">
        <div class="c_datos_feedback">
          <div class="Dirreccion">
            <h4>Dirreccion</h4>
          </div>
          <div class="E-mail">
            <h4>E-mail</h4>
          </div>
          <div class="telefono">
            <h4>Teléfono</h4>
          </div>
        </div>
      </div>
      <div class="imagen_feedback">
        <img class="mascota_contacto" src="../../../assets/imagenes/contacto.png" alt="mascota_contacto"/>
      </div>
      <div class="formularios_feedback">
        <h2>Feedback</h2>
        <p>Cualquier sugerencia será recibida en el siguiente cuadro:</p>
        <h6>E-mail</h6>
        <input type="email" />
        <h6>Mensaje</h6>
        <textarea name="mensaje" id="mensaje" cols="30" rows="10"></textarea>
        <br />
        <button class="boton_feedback">Enviar</button>
      </div>
    </div>
  </section> -->
</main>


